<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/flash.css">
<% if(success && success.length){ %>

    <div class="alert alert-success alert-white rounded">
        <button type="button" data-bs-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <strong>
            <%= success %>
        </strong>
    </div>
    <% } %>

        <% if(error && error.length){ %>

            <div class="alert alert-danger alert-white rounded">
                <button type="button" data-bs-dismiss="alert" aria-hidden="true" class="close">×</button>
                <div class="icon">
                    <i class="fa fa-times-circle"></i>
                </div>
                <strong>
                    <%= error %>
                </strong>
            </div>
            <% } %>