<nav id="nav-top-of-page" class="navbar navbar-expand-sm sticky-top bg-dark navbar-dark">
    <div id="nav-top-of-page__container" class="container-fluid">

        <ul class="nav navbar-nav">
            <li id="nav--top__website-name" class="nav-item">
                <a class="navbar-brand" href="#">White SOXX</a>
            </li>

            <li id="nav--top__link-home" class="nav-item active">
                <a class="nav-link" href="/"> Home </a>
            </li>
            <li id="nav--top__link-projects" class="nav-item">
                <a class="nav-link" href="/grounds"> Grounds </a>
            </li>
            <li id="nav--top__link-projects" class="nav-item">
                <a class="nav-link" href="/eshops"> Shop </a>
            </li>
            <li id="nav--top__link-contact" class="nav-item">
                <a class="nav-link" href="/contact"> Contact us </a>
            </li>
        </ul>




        <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
                <li id="nav--top__link--right"><a href="/register"><span class="glyphicon glyphicon-log-in"> </span>
                        Sign up
                    </a></li>
                <li id="nav--top__link--right"><a href="/login"><span class="glyphicon glyphicon-user">
                        </span> Log
                        in
                    </a>
                </li>
                <% } else{%>

                    <!-- <li id="nav--top__link--right"><a href="/users/<%=user.id%>"><span class="glyphicon glyphicon-user">
                            </span>View Profile</a>
                    </li> -->
                    <li id="nav--top__link--right" class="dropdown glyphicon" style="align-items: center;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="background-color:transparent; text-align: center;">
                            User
                        </button>
                        <div class="dropdown-menu" style="background-color: rgba(0, 0, 0, 0.485);">
                            <a class="dropdown-item glyphicon glyphicon-user" href="/users/<%=user.id%>">View
                                Profile</a>
                            <a class="dropdown-item glyphicon glyphicon-shopping-cart" href="/carts">View Cart(
                                <% if(typeof cart !=="undefined" ) {%>
                                    <%=cart.length %>
                                        <% } else{%>
                                            <% } %>
                                                )
                            </a>
                            <a class="dropdown-item" href="/wishlist">Wishlist</a>
                        </div>
                    </li>
                    <li id="nav--top__link--right"><a href="/logout"><span class="glyphicon glyphicon-user"> </span>
                            Log
                            Out
                        </a>
                    </li>
                    <% } %>
        </ul>

    </div>
</nav>