<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<% layout('layouts/boilerplate') %>

    <h1 style="align-items: center ;">All Product</h1>

    <form class="form-inline" action="/eshops" method="get">
        <input style="align-items: center;" type="text" name="search" class="form-control mr-sm-2" type="search" placeholder="Search Product.." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
    </form>
    <div>
        <a href="eshops/new">Add New Product</a>
    </div>

    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <% for(let eshop of eshops) {%>
                <div class="col-md-9">

                    <div class="col-md-6 col-sm-6">
                        <div class="store-item">
                            <div class="store-item-rating text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="store-item-image">
                                <a href="#">
                                    <img src="https://images.unsplash.com/photo-1616124619460-ff4ed8f4683c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8amVyc2V5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="store-item-info clearfix">
                                <span class="store-item-price themed-color-dark pull-right">$ <%=eshop.price %>
                                </span>
                                <a href="#"><strong><a href="/eshops/<%= eshop._id %> ">
                                            <%= eshop.title %>
                                        </a></strong>
                                </a><br>

                                <form action="/eshops/cart">


                                    <small><i class="fa fa-shopping-cart text-muted"></i>
                                        <a href="/cart/" class="text-muted">Add to cart</a></small>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
        <% } %>
    </div>