<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<% layout('layouts/boilerplate') %>
    <div class="col-md-12">
        <h1 style="align-items: center ;">All Product</h1>

        <form class="form-inline" action="/eshops" method="get">
            <input style="align-items: center;" type="text" name="search" class="form-control mr-sm-2" type="search" placeholder="Search Product.." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
        </form>
        <a href="eshops/new">Add New Product</a>
    </div>



    <div class="container bootstrap snippets bootdey">


        <div class="row">
            <% for(let eshop of eshops) {%>
                <div class="col-md-9">

                    <div class="col-md-6 col-sm-6">
                        <div class="store-item">
                            <div class="store-item-image">
                                <a href="#">
                                    <img src="<%=eshop.images[0].url%>" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="store-item-info clearfix">
                                <span class="store-item-price themed-color-dark pull-right">$ <%=eshop.price %>
                                </span>
                                <a href="#"><strong><a href="/eshops/<%= eshop._id %>">
                                            <%= eshop.title %>
                                        </a></strong>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <% } %>
        </div>

    </div>